.search-input {
  @apply w-full h-10 rounded-lg border-2 border-gray-200 focus:outline-none focus:border-gray-400 px-5;
}
#root {
}
body {
  padding: 0;
  margin: 0;
  background: #333;
  color: #fff;
}
.app {
}

/* Custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

iframe {
  min-height: 400px;
}
